build/
dist/
*.egg-info/
*/*.so
*/*.c
swipes/lib/*.c
swipes/lib/*.so
__pyache__/
*.npz
swipes/__pycache__/
swipes/lib/__pycache__/
swipes/test/__pycache__/
swipes/test/SWIPES5CB_16400/
swipes/test/density_field5CB_test.npy
swipes/isosurface/__pycache__/
